body {
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-third {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
}
.title {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
}

.header-section {
    display: flex;
    flex: 1;
    justify-content: center;
}

    .left-header{
        /* I dont think you have to add anything here */
    }

        .header-title {
            /* what TOP calls "Hero Text" -> for font and etc */
        }

        .header-subtext {

        }
.upper-section {
    display: flex;
    flex: 1;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

#rndinfo {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
}

.boxes {
    display: flex;
}

figure {
    justify-content: center;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

.lower-section {
    display: flex;
    background-color: lightgray;
    flex: 1;
    padding: 30px;
    justify-content: center;
}
    .quote {
        align-self: flex-start;
        
    }

    .credit {
        align-self: flex-end;
    }

    .upper-footer {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 30px;

    }

    .footer-box {
        display: flex;
        background-color: #3882f6;
        padding: 30px 80px;
        justify-content: space-between;
        border-radius: 10px;
    }

    .left-footer {

    }

    .button {

    }

    .lower-footer {
display: flex;
justify-content: center;
flex: 0 0 auto;
    }