body {
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.top-third {
    background-color: #1f2937;
    flex: 1 1 auto;
    display: flex;
}
.title {
    display: flex;
}

.header-section {
    display: flex;
}

    .left-header{
        /* I dont think you have to add anything here */
    }

        .header-title {
            /* what TOP calls "Hero Text" -> for font and etc */
        }

        .header-subtext {
            
        }
.upper-section {
    display: flex;

}
.boxes {
    display: flex;
}

.lower-section {
    background-color: lightgray;
}
    .quote {
        
    }

    .credit {

    }

    .upper-footer {

    }

    .footer-box {

    }

    .left-footer {

    }

    .button {

    }

    .lower-footer {

    }